
{% extends 'parent-admin.html.twig' %}
{% block body %}

    <div id="modal-ban" class="modal">
        <div class="modal-content">
            <span class="close"></span>

            <form action="   " method="post">
                <input type="hidden" name="" id=""/>

                <textarea id="mssgtxt" name="text" class="form-control" rows="5" cols="25"
                          placeholder="Powód zbanowania użytkownika..."></textarea>

                <div class="modal-buttons">
                    <button class="cancel-btn">Anuluj</button>
                    <input id="reportId" type="hidden" name="reportId" value="default">
                    <input id="userId" type="hidden" name="userId" value="default">

                    <input type="submit" id="ban-btn" class="button sb block" value="Zbanuj"></div>
            </form>
        </div>
    </div>

    <div id="modal-delete" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <form action="   " method="post">

                <textarea id="mssgtxt" name="text" class="form-control" rows="5" cols="25"
                          placeholder="Powód usunięcia postu..."></textarea>

                <label style="display: block; margin-left: 250px; "><input type="checkbox" name="checkbox">Zbanuj dodatkowo
                    użytkownika</label>

                <div class="modal-buttons">
                    <button class="cancel-btn">Anuluj</button>
                    <input id="report" type="hidden" name="reportId" value="default">
                    <input id="user" type="hidden" name="userId" value="default">
                    <input type="submit" id="ban-btn" class="button sb block" value="Usuń"></div>
            </form>

        </div>
    </div>


    {#start post#}
    {% for ban in bans %}
    <div class="post">
        <h10 style="margin: 0px;">ID: {{ ban.reportId }} </h10>
        <h12 style="margin-top: 5px;"><a style="color:red;">{{ ban.user.username }}</a>
            ↔ {{ban.timestamp|date('Y-m-d h:i:s')}}</h12>
        <div class="buttons">
            <button class="cancel" onclick="unbanUser({{ ban.user.userId }})">Odblokuj użytkownika</button>
        </div>


    </div>
        <br>
    {% endfor %}


    {#end post#}

    <script>
        function unbanUser(userId) {
            $.ajax({
                url: location.protocol + '//' + window.location.host + '/admin/unbanUser',
                type: 'PATCH',
                data: {userId: userId},
            });

            location.reload()
        }
    </script>


{% endblock %}
