{% extends 'main/parent.html.twig' %}


    {% block stylesheets %}
        <link href="{{ asset('web/styles/main.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('web/styles/style.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}


{% block body %}
    

        <h3 style="text-align: center; color: darkgrey;">pusto :(((((((((</h3>

        <div class="post">
            <a href=" "><img id="project-avatar"
                                                                                           src=" "
                                                                                           width="70" height="70"></a>
            <a class="project-title"
               href=" ">tytul</a><br>

                <a class="project-lang" href=" ">aasa</a>

        </div>
{% endblock %}